
<div class="border border-dark" style="background-color:rgb(241, 236, 157);">
    <h3 class="text-center">To-do List</h3>
    <hr class="border border-dark">

<input type="text" class="offset-md-5 col-2 form-control" id="enterText" placeholder="Add new task" [(ngModel)]="addTask">
<div class="text-center mt-3">
    <button (click)="toaddtask(addTask)" class="btn btn-success ml-10"  >Add task</button>
</div>
<hr class="border border-dark">

   <div id="additem" class="text-center"   *ngFor="let data of tddata; let i = index" >
  
      <p>{{data.id}}</p>
        <p class="font-weight-bold">{{data.taskName}}</p>
 
            <p class="font-weight-bold" type="status" id="status" [ngStyle]="{ 'color' : data.col }">{{data.status}}</p>
        

         <button class="btn btn-primary" (click)="changeStatus(i,data.count)">Change Status</button>
         <button class="btn btn-danger ml-3" (click)="removeTask(i)" >Remove</button> 
         <hr class="border border-dark">
</div>

</div>
