<h1>Home Component</h1>
<p>This is the home component</p>
<!-- <app-header></app-header> -->
<!-- <p>
    Hi {{username}}. Your email is {{email}} and your age is {{age}}


</p>
<input class="input-group" type="text" [(ngModel)]="username"><br>

    <button class="input-group-prepend" (click)="increaseAge()">Increment</button><br>




<button  (click)="decreaseAge()">Decrement</button>
<input type="text" [(ngModel)]= "username" id="">
<br>


<app-age-validator></app-age-validator>

<br><br>

<app-input-validator class="mt-5"></app-input-validator> -->
<!-- <app-image-selector></app-image-selector> -->
<!-- <app-image-selector></app-image-selector> -->

<!-- <app-footer></app-footer> -->

<app-todo-list ></app-todo-list>
<!-- <app-test3></app-test3>
<br><br>
<app-q2-a1></app-q2-a1>




<app-age-validator></app-age-validator>


<hr style="background: #000;">
<app-test></app-test>

<br><br><br>
<hr style="background: #000;">
<div>
    Discounted prise is {{ total| discount:50 }}
</div>
<app-register></app-register>
<br><br>


<app-user-registration></app-user-registration>

<br>
<app-age-assignment></app-age-assignment><br>

<a class="mr-5" [routerLink]="['/home']" href="">Footer</a>
<a [routerLink]="['table']" href="">Table</a>
<p>Below is the router output</p> -->
<!-- <router-outlet></router-outlet>

<app-parent-component></app-parent-component> -->
<!-- 
<app-user-search></app-user-search> -->

